@using Resources
@model ListIt_WebFrontend.Models.ListsVM


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Lang.yourLists;
}



<div class="container-fluid">
    <h1 class="text-center pageheading">@ViewBag.Title</h1>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            <p class="text-center">
                @ViewBag.Message
            </p>
        </div>
    }
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            <p class="text-center">
                @ViewBag.Error
            </p>
        </div>
    }


    <ul class="list-group">

        <!-- CREATE LI-ITEM FOR EACH LIST -->
        @foreach (var list in Model.AllUserLists)
        {
           
        <li class="list-group-item d-flex justify-content-center">
            @if (list.ListAccessTypeId == 3)
            {
                @Html.ActionLink(list.Name, "SingleList", "List", new { @id = list.Id }, htmlAttributes: new { @class = "listLinksReadonly" })
            }
            else if (list.ListAccessTypeId == 4)
            {
                @Html.ActionLink(list.Name, "SingleList", "List", new { @id = list.Id }, htmlAttributes: new { @class = "listLinksWrite" })
            }
            else
            {
                @Html.ActionLink(list.Name, "SingleList", "List", new { @id = list.Id }, htmlAttributes: new { @class = "listLinks" })

            }
        </li>
        }
    </ul>

    <div class="w-100 d-flex justify-content-center box">
        <button class="btn align-baseline" type="button" data-toggle="modal" data-target="#modalCreateList">
            <!-- + ADD ICON -->
            <i class="fa fa-plus-circle fa-3x"></i>
        </button>
    </div>




</div>

<!-- Modal RENAME -->
<div class="modal fade" id="modalRename" tabindex="-1" role="dialog" aria-labelledby="modalRenameTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRenameTitle">@Lang.rename</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RenameList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "New Name", new { @class = "control-label" })
                        @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",  id = "rename", type = "text", value = "", placeholder = "Groceries", required = "required" } })*@
                        <input type="text" id="rename" class="rename" value="" required />
                    </div>
                    @*@Html.Editor("listId", new { type = "hidden", id = "listId" })*@

                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">@Lang.close</button>
                    <button type="submit" class="btn btn-dark">@Lang.save</button>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal ADD LIST -->
<div class="modal fade" id="modalCreateList" tabindex="-1" role="dialog" aria-labelledby="modalAddTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddTitle">@Lang.createList</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Editor("listname", new { @class = "form-control", type = "text", value = "", placeholder = "Groceries" })

                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Lang.close</button>
                    <button type="submit" class="btn btn-primary">@Lang.save</button>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteTitle">Delete List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DeleteList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @*@Html.Editor("listId", new { type = "hidden", id = "listId" })*@
                        <p>
                            Do you really want to delete this list?
                        </p>
                    </div>
                    <div class="form-group col d-flex justify-content-end">
                        <button class="btn" type="button">
                            <i class="fa fa-close fa-lg"></i>
                        </button>
                        <button class="btn" type="submit">
                            <i class="fa fa-check-circle fa-lg"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal SHARE -->
<div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalShareTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalShareTitle">Share your List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ShareList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Label("Enter the Email-Adresses here:", htmlAttributes: new { @class = "control-label" })
                        @Html.TextArea("EmailAdresses", null, new { @class = "form-control", placeholder = "steve@smith.com" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Choose type of sharing", htmlAttributes: new { @class = "control-label" })
                        <select class="custom-select">
                            <option selected>Read only</option>
                            <option>Edit</option>
                        </select>
                        <!-- INSERT MODEL WITH LIST OF LISTACCESSTYPES -->
                        @*@Html.DropDownListFor(x => x.ListTypeAccessId, Model.ListTypeAccessList, htmlAttributes: new { @class = "form-control custom-select" })*@
                    </div>
                    <div class="form-group col d-flex justify-content-end">
                        <button class="btn" type="button">
                            <i class="fa fa-close fa-lg"></i>
                        </button>
                        <button class="btn" type="submit">
                            <i class="fa fa-check-circle fa-lg"></i>
                        </button>
                    </div>
                }

                <div>
                    <hr />
                    This is your generated sharing link:
                    <br />
                    Display link here
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*JQuery script to get listID from button and send to modal*/

    //$(document).ready(function () {

    // for rename:
    $('#modalRename').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var listId = button.data('listId') // Extract info from data-* attributes
        var listName = button.data('listName')
        var modal = $(this)
        modal.find('.modal-body .rename').val(listName)
        modal.find('.modal-body .id').val(listId)

        //$(event.currentTarget).find('input["rename"]').val(listName);
    });

    $('#modalDelete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var listId = button.data('listId') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-body input #listId').val(listId)
    })
    //})

</script>
