@using Resources
@model ListIt_WebFrontend.Models.SingleListVM


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}

    <div class="container-fluid">
        <h1 class="text-center pageheading">
            <!-- INSERT LIST NAME HERE -->
            @Model.ListName
        </h1>

        @if (Model.ListAccessTypeId == 1)
        {
            <div class="d-flex justify-content-center">
                <div class="btn-group">
                    <button class="btn" type="button" data-toggle="modal" data-target="#modalRename">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn" type="button" data-toggle="modal" data-target="#modalShare">
                        <i class="fa fa-share-alt-square"></i>
                    </button>
                    <button class="btn" type="button" data-toggle="modal" data-target="#modalDelete">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        }


        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center mb-0">
                    @ViewBag.Message
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="text-center mb-0">
                    @ViewBag.Error
                </p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <!-- HEADING -->
        <div class="row" id="accordionHeading">
            <div class="col-md-9 d-flex justify-content-between" id="headingNames">
                <span class="col-4">
                    @Lang.itemName
                </span>
                <span class="col-2 text-center">
                    @Lang.quantity
                </span>
                <span class="col-2 text-center">
                    @Lang.price
                </span>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <span>
                    <button class="btn" type="button">
                        <i class="fa fa-sort-amount-asc fa-lg"></i>
                    </button>
                </span>
            </div>
        </div>

        <!-- LIST ITEMS IN LIST GROUP -->
        <ul class="list-group" id="itemsList">


            @foreach (var entry in Model.ListEntries)
            {
                var identifier = "item" + entry.ProductId;

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-9 d-flex justify-content-between check-toggle">
                            <div class="form-text col-5">
                                @Html.CheckBox("checkbox", false, htmlAttributes: new { @class = "checkbox", id = entry.ProductId })
                                <label for="checkbox" class="@identifier">
                                    @entry.Name <!-- INSERT ITEM NAME HERE -->
                                </label>
                            </div>
                            <div class="form-text col-2">
                                <label for="checkbox" class="@identifier">
                                    @entry.Quantity pc.
                                    <!-- TODO: get UnitTypeName -->
                                </label>
                            </div>
                            <div class="form-text col-2">
                                <label for="checkbox" class="@identifier">
                                    @entry.Price dkk/pc.
                                    <!-- TODO: get CurrencyName -->
                                </label>
                            </div>
                        </div>
                        @if (Model.ListAccessTypeId == 1 || Model.ListAccessTypeId == 4)
                        {
                            <div class="col-md-3 d-flex justify-content-end">
                                <span class="btn-group d-flex justify-content-end">
                                    <button class="btn" type="button" id="editItem" onclick="location.href='@Url.Action("Item", "List", new { @id = entry.ProductId, @listId = Model.ShoppingList_Id })'">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button class="btn" type="button" id="deleteItem" onclick="location.href='@Url.Action("DeleteItem", "List", new { @id = entry.ProductId, @listId = Model.ShoppingList_Id })'">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </span>
                            </div>
                        }

                    </div>
                </li>
            }

        </ul>

        <div class="w-100 d-flex justify-content-center">
            <button class="btn align-baseline" type="button" data-toggle="modal" data-target="#modalCreateItem">
                <!-- + ADD ICON -->
                <i class="fa fa-plus-circle fa-2x"></i>
            </button>
        </div>
    </div>

<!-- Modal RENAME LIST -->
<div class="modal fade" id="modalRename" tabindex="-1" role="dialog" aria-labelledby="modalRenameTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRenameTitle">@Lang.rename</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("RenameList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.ListName, Lang.name, new { @class = "control-label" })
                        @Html.EditorFor(model => model.ListName, new { htmlAttributes = new { @class = "form-control",  id = "rename", type = "text", value = Model.ListName, placeholder = "Groceries", required = "required" } })
                        
                    </div>
                    @Html.HiddenFor(model => model.ShoppingList_Id, htmlAttributes: new { value = Model.ShoppingList_Id})

                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">@Lang.close</button>
                    <button type="submit" class="btn btn-dark">@Lang.save</button>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal CREATE ITEM -->
<div class="modal fade" id="modalCreateItem" tabindex="-1" role="dialog" aria-labelledby="modalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreateTitle">Create Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateItem", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <p class="text-center font-weight-light">
                        Either create a new item:
                    </p>

                    <div class="form-row">
                        <div class="form-group col">
                            @Html.LabelFor(model => model.Name, Lang.itemName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = Lang.name } })
                        </div>
                        <div class="form-group col">
                            @Html.CheckBox("UserProduct")
                            @Html.Label("UserProduct", "I want to reuse this item")
                        </div>
                    </div>
                    <hr />
                    <p class="text-center font-weight-light">
                        Or choose from the list of default products and your reusable items:
                    </p>
                    <div class="form-row">
                        <div class="form-group col">
                            @Html.LabelFor(model => model.ChosenProductId, "Default Products", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.ChosenProductId, Model.ChooseProductsList, "Select a predefined product", htmlAttributes: new { @class = "form-control custom-select" })

                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col">
                            @Html.LabelFor(model => model.Price, Lang.price, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", placeholder = "1", min="0", value = Model.Price, @type = "number" } })
                        </div>
                        <div class="form-group col">
                            @Html.LabelFor(model => model.CurrencyListId, Lang.currency, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.CurrencyListId, Model.CurrencyList, htmlAttributes: new { @class = "form-control custom-select" })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            @Html.LabelFor(model => model.Quantity, Lang.quantity, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", placeholder = "1", min="0" , value = Model.Quantity } })
                        </div>
                        <div class="form-group col">
                            @Html.LabelFor(model => model.UnitTypesListId, Lang.unit, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.UnitTypesListId, Model.UnitTypesList, htmlAttributes: new { @class = "form-control custom-select" })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            @Html.LabelFor(model => model.CategoryListId, Lang.category, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(x => x.CategoryListId, Model.CategoryList, htmlAttributes: new { @class = "form-control custom-select" })

                        </div>
                        <div class="form-group col">
                            @Html.LabelFor(model => model.UserCategory, Lang.createCat, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UserCategory, new { htmlAttributes = new { @class = "form-control", placeholder = "1", value = Model.UserCategory } })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.ShoppingList_Id, new { htmlAttributes = new { value = Model.ShoppingList_Id } })

                    <div class="form-row">
                        <div class="form-group col d-flex">
                            <button type="button" onclick="" class="btn btn-dark">
                                translate item
                            </button>
                        </div>
                        <div class="form-group col d-flex justify-content-end">
                            <button class="btn" type="reset">
                                <i class="fa fa-close fa-lg"></i>
                            </button>
                            <button class="btn" type="submit">
                                <i class="fa fa-check-circle fa-lg"></i>
                            </button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Modal DELETE LIST -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteTitle">Delete List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DeleteList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        <p>
                            Do you really want to delete your list @Model.ListName?
                        </p>
                    </div>
                    @Html.HiddenFor(model => model.ShoppingList_Id, new { htmlAttributes = new { value = Model.ShoppingList_Id } })

                    <div class="form-group col d-flex justify-content-end">
                        <button class="btn" type="button">
                            <i class="fa fa-close fa-lg"></i>
                        </button>
                        <button class="btn" type="submit">
                            <i class="fa fa-check-circle fa-lg"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal SHARE LIST -->
<div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalShareTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalShareTitle">Share your List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ShareList", "List", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Label("Enter the Email-Address here:", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("EmailAddress", null, new { @class = "form-control", placeholder = "steve@smith.com", type = "email" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Choose type of sharing", htmlAttributes: new { @class = "control-label" })
                        <select class="custom-select" name="Type">
                            <option value="3" selected>Read only </option>
                            <option value="4"> Edit </option>
                        </select>
                        <!-- INSERT MODEL WITH LIST OF LISTACCESSTYPES -->
                        @*@Html.DropDownListFor(x => x.ListTypeAccessId, Model.ListTypeAccessList, htmlAttributes: new { @class = "form-control custom-select" })*@
                    </div>
                    @Html.HiddenFor(model => model.ShoppingList_Id, new { htmlAttributes = new { value = Model.ShoppingList_Id } })

                    <div class="form-group col d-flex justify-content-end">
                        <button class="btn" type="button">
                            <i class="fa fa-close fa-lg"></i>
                        </button>
                        <button class="btn" type="submit">
                            <i class="fa fa-check-circle fa-lg"></i>
                        </button>
                    </div>
                }

                <div>
                    <hr />
                    This is your generated sharing link:
                    <br />
                    Display link here
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Checklist wihtin foreach, changing attributes after changing checked state: -->
<!-- https://www.c-sharpcorner.com/UploadFile/sourabh_mishra1/checkboxlist-in-Asp-Net-mvc/ -->

<script>
    jQuery(function ($) {
        $(".check-toggle").on('click', function () {
            $(this).find(':checkbox').prop('checked', function (i, checked) {
                return !checked;
            });

            var checkbox = $(this).find('.checkbox');
            var getCheckboxId = checkbox.attr('id');

            if (checkbox.is(':checked')) {
                $('label.item' + getCheckboxId).addClass('crossout');
            } else {
                $('label.item' + getCheckboxId).removeClass('crossout');
            }
        });
    });


</script>

<script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js">
    Sortable.create(
        #itemsList,
        {
            animation: 100,
            group: 'itemsList',
            draggable: '.list-group-item',
            handle: 'li',
            sort: true,
            filter: '.sortable-disabled',
            chosenClass: 'active'
        });
</script>