@using Resources
@model ListIt_DomainModel.DTO.ShoppingListEntryDto


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}

<div class="container-fluid">

    <h1 class="text-center pageheading">
        <!-- INSERT LIST NAME HERE -->
        Single List
    </h1>

    <!-- HEADING -->
    <div class="row" id="accordionHeading">
        <div class="col-md-8 d-flex justify-content-between" id="headingNames">
            <span class="form-text">
                @Lang.itemName
            </span>
            <span class="form-text">
                @Lang.quantity
            </span>
            <span class="form-text">
                @Lang.price
            </span>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <span>
                <button class="btn" type="button">
                    <i class="fa fa-sort-amount-asc fa-lg"></i>
                </button>
            </span>
        </div>


    </div>

    <!-- LIST ITEMS IN LIST GROUP -->
    <ul class="list-group" id="itemsList">


        <!-- FOREACH LI LIST ITEM -->
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-8 d-flex justify-content-between check-toggle">
                    <div class="form-text">
                        @Html.CheckBox("checkbox", false, htmlAttributes: new { @class = "checkbox", id = "checkbox" })
                        <label id="itemData" for="checkbox">
                            Apple <!-- INSERT ITEM NAME HERE -->
                        </label>
                    </div>
                    <div class="form-text">
                        <label id="itemData" for="checkbox">
                            5pc.
                        </label>
                    </div>
                    <div class="form-text">
                        <label id="itemData" for="checkbox">
                            2 dkk/pc.
                        </label>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <span class="btn-group d-flex justify-content-end">
                        <button class="btn" type="button" id="editItem" data-toggle="modal" data-target="#modalEditItem">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn" type="button" id="deleteItem">
                            <i class="fa fa-close"></i>
                        </button>
                    </span>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-md-8 d-flex justify-content-between check-toggle">
                    <div class="form-text">
                        @Html.CheckBox("checkbox", false, htmlAttributes: new { @class = "checkbox", id = "checkbox" })
                        <label id="itemData" for="checkbox">
                            Banana <!-- INSERT ITEM NAME HERE -->
                        </label>
                    </div>
                    <div class="form-text">
                        <label id="itemData" for="checkbox">
                            5pc.
                        </label>
                    </div>
                    <div class="form-text">
                        <label id="itemData" for="checkbox">
                            2 dkk/pc.
                        </label>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <span class="btn-group d-flex justify-content-end">
                        <button class="btn" type="button" id="editItem" data-toggle="modal" data-target="#modalEditItem">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn" type="button" id="deleteItem">
                            <i class="fa fa-close"></i>
                        </button>
                    </span>
                </div>
            </div>
        </li>

    </ul>

    <div class="w-100 d-flex justify-content-center">
        <button class="btn align-baseline" type="button" data-toggle="modal" data-target="#modalCreateItem">
            <!-- + ADD ICON -->
            <i class="fa fa-plus-circle fa-2x"></i>
        </button>
    </div>
</div>

<!-- Modal CREATE ITEM -->
<div class="modal fade" id="modalCreateItem" tabindex="-1" role="dialog" aria-labelledby="modalCreateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreateTitle">Create Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateItem", "List", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="name">@Lang.itemName *</label>
                            <input type="text" class="form-control" id="name" placeholder=@Lang.itemName required>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            @Html.CheckBox("UserProduct")
                            @Html.Label("UserProduct", "I want to reuse this item")
                        </div>
                        <div class="form-group col">
                            <label for="price">@Lang.price</label>
                            <input type="number" class="form-control" id="price" placeholder="Insert price">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col range-slider">
                            <label for="quantity">@Lang.quantity </label><output id="rangevalue"></output>
                            <input type="text" class="form-control" value="1" id="quantity">
                        </div>
                        <div class="form-group col">
                            <label for="unit">@Lang.unit</label>
                            <select id="unit" class="custom-select custom-select-sm">
                                <option value="" selected>pc</option>
                                <option value="">lt</option>
                                <option value="">g</option>
                                <option value="">kg</option>
                                <option value="">pkg</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="category">@Lang.category</label>
                            <select id="category" class="custom-select custom-select-sm">
                                <option selected>Choose a category</option>
                                <option value="">Vegetables</option>
                                <option value="">Fruits</option>
                                <option value="">Milk products</option>
                                <option value="">...</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="createCategory">@Lang.createCat</label>
                            <input type="text" class="form-control" id="createCategory" placeholder="MyCategory">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col d-flex">
                            <button type="button" onclick="" class="btn btn-dark">
                                translate item
                            </button>
                        </div>
                        <div class="form-group col d-flex justify-content-end">
                            <button class="btn" type="reset">
                                <i class="fa fa-close fa-lg"></i>
                            </button>
                            <button class="btn" type="submit">
                                <i class="fa fa-check-circle fa-lg"></i>
                            </button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal EDIT ITEM -->
<div class="modal fade" id="modalEditItem" tabindex="-1" role="dialog" aria-labelledby="modalEditTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditTitle">Edit Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditItem", "List", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="name">@Lang.itemName *</label>
                            <input type="text" class="form-control" id="name" placeholder=@Lang.itemName required>
                        </div>
                        <div class="form-group col">
                            <label for="price">@Lang.price</label>
                            <input type="number" class="form-control" id="price" placeholder="Insert price">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col range-slider">
                            <label for="quantity">@Lang.quantity </label><output id="rangevalue"></output>
                            <input type="text" class="form-control" value="1" id="quantity">
                        </div>
                        <div class="form-group col">
                            <label for="unit">@Lang.unit</label>
                            <select id="unit" class="custom-select custom-select-sm">
                                <option value="" selected>pc</option>
                                <option value="">lt</option>
                                <option value="">g</option>
                                <option value="">kg</option>
                                <option value="">pkg</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="category">@Lang.category</label>
                            <select id="category" class="custom-select custom-select-sm">
                                <option selected>Choose a category</option>
                                <option value="">Vegetables</option>
                                <option value="">Fruits</option>
                                <option value="">Milk products</option>
                                <option value="">...</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="createCategory">@Lang.createCat</label>
                            <input type="text" class="form-control" id="createCategory" placeholder="MyCategory">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col d-flex">
                            <button type="button" onclick="" class="btn btn-dark">
                                translate item
                            </button>
                        </div>
                        <div class="form-group col d-flex justify-content-end">
                            <button class="btn" type="reset">
                                <i class="fa fa-close fa-lg"></i>
                            </button>
                            <button class="btn" type="submit">
                                <i class="fa fa-check-circle fa-lg"></i>
                            </button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Checklist wihtin foreach, changing attributes after changing checked state: -->
<!-- https://www.c-sharpcorner.com/UploadFile/sourabh_mishra1/checkboxlist-in-Asp-Net-mvc/ -->

<script>
    jQuery(function ($) {

        $(".check-toggle").on('click', function () {
            $(this).find(':checkbox').prop('checked', function (i, checked) {
                return !checked;
            });


            if ($('input.checkbox').is(':checked')) {
                $('label#itemData').addClass('crossout');
            } else {
                $('label#itemData').removeClass('crossout');
            }
        });
    });


</script>

<script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js">
    Sortable.create(
        #itemsList,
        {
            animation: 100,
            group: 'itemsList',
            draggable: '.list-group-item',
            handle: 'li',
            sort: true,
            filter: '.sortable-disabled',
            chosenClass: 'active'
        });
</script>