@using Resources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Lang.yourProfile;
}

<div class="container-fluid">


    <h1>@ViewBag.Title</h1>

    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <td>
                        @Lang.name
                    </td>
                    <td>
                        <!-- INSERT NICKNAME HERE -->
                        Steve Smith
                    </td>
                </tr>
                <tr>
                    <td>
                        @Lang.email
                    </td>
                    <td>
                        <!-- INSERT EMAIL ADRESS HERE -->
                        steve.smith@ucn.dk
                    </td>
                </tr>
            </table>
        </div>
        <div class="col">
            <!-- INSERT PROFILE PIC HERE - IF NO PIC INSERT AVATAR -->
            <!--img src="" alt="Profile Picture" /-->
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="btn-group-sm">
            <button class="btn btn-outline-dark" id="editProfile" data-toggle="modal" data-target="#modalEditProfile">
                @Lang.editProfile
            </button>
            <button class="btn btn-outline-dark" id="editPW" data-toggle="modal" data-target="#modalEditPW">
                @Lang.editPW
            </button>
        </div>
    </div>
</div>

<!-- Modal EDIT PROFILE -->
<div class="modal fade" id="modalEditProfile" tabindex="-1" role="dialog" aria-labelledby="modalEditProfileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditProfileTitle">@Lang.editProfile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="put">
                    <div class="form-group">
                        <label for="profilePic">Profile Picture</label>
                        <!--img src="" /-->
                        <input type="file" class="custom-file-input" id="profilePic">
                    </div>
                    <div class="form-group">
                        <label for="name">@Lang.name</label>
                        <input type="text" class="form-control" id="name" placeholder="Steve Smith">
                    </div>
                    <div class="form-group">
                        <label for="email">@Lang.email</label>
                        <input type="email" class="form-control" id="email" placeholder="steve.smith@ucn.dk">
                    </div>
                    

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Lang.close</button>
                    <button type="button" class="btn btn-primary">@Lang.save</button>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- Modal EDIT PW -->
<div class="modal fade" id="modalEditPW" tabindex="-1" role="dialog" aria-labelledby="modalEditPWTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditPWTitle">@Lang.editPW</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="oldPw">@Lang.oldPw</label>
                        <input type="password" class="form-control" id="oldPw" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="newPw">@Lang.newPw</label>
                        <input type="password" class="form-control" id="newPw" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="newPwConfirm">@Lang.cnewPw</label>
                        <input type="password" class="form-control" id="newPwConfirm" placeholder="">
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Lang.close</button>
                    <button type="button" class="btn btn-primary">@Lang.save</button>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>