@model ListIt_DomainModel.DTO.UserDto
@using Resources

@{
    Layout = null;
    ViewBag.Title = Lang.login;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6 login-container">
                <h1>@ViewBag.Title</h1>

                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, Lang.email, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "steve.smith@ucn.dk", required = "required" } })
                            <!--label for="exampleInputEmail1">Email address</!--label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required-->
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PasswordHash, Lang.pw, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = Lang.pw, required = "required" } })
                        </div>
                        <button type="submit" class="btn btn-dark">@Lang.login</button>
                    }



                    <p>
                        @Html.ActionLink(Lang.forwardToRegister, "Register", "User")
                    </p>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
