@using Resources

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- SIDEBAR -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                Placeholder
            </div>
            <div class="list-group list-group-flush">
                <!-- ToDo: INSERT AVATAR PIC HERE -->
                @Html.ActionLink("Your Profile", "Index", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
            </div>

            <div class="list-group list-group-flush" aria-orientation="vertical">
                @Html.ActionLink("Your Lists", "Lists", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Find Item", "Index", "Store", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Find Store", "FindStore", "Store", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Browse Store", "BrowseStore", "Store", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
            </div>

            <div class="list-group list-group-flush" aria-orientation="vertical">
                @Html.ActionLink("Settings", "Settings", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
            </div>
        </div>

        <!-- NAVBAR HEADER -->



        <div class="page-content-wrapper">
            <nav class="navbar fixed-top  navbar-dark bg-dark">

                <button class="navbar-toggler" id="menu-toggle" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <span class="justify-content-center">
                    @Html.ActionLink("List It", "Lists", "User", new { area = "" }, new { @class = "navbar-brand" })
                </span>

                

                <div class="d-flex justify-content-end">
                    <div>
                        @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
                        {
                            @Lang.language
                            <select name="lang" class="custom-control">
                                <option></option>
                                <option value="en-GB" @(Culture == "en-GB" ? "selected=\"selected\"" : "")>@Lang.english</option>
                                <option value="de-DE" @(Culture == "de-DE" ? "selected=\"selected\"" : "")>@Lang.german</option>
                            </select>
                            <input type="submit" value="@Lang.submit" />
                        }
                    </div>
                    <span>

                        @Html.ActionLink(@Lang.logout, "Logout", "User", new { area = "" }, new { @class = "" })
                    </span>
                    
                </div>

            </nav>




            <div class="body-content">
                @RenderBody()

            </div>

        </div>
    </div>










    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>
