<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- SIDEBAR -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                Placeholder
            </div>
            <div class="list-group list-group-flush">
                <!-- ToDo: INSERT AVATAR PIC HERE -->
                @Html.ActionLink("Your Profile", "Index", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
            </div>

            <div class="list-group list-group-flush" aria-orientation="vertical">
                @Html.ActionLink("Your Lists", "Lists", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Find Item", "Index", "Store", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Find Store", "FindStore", "Store", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Browse Store", "BrowseStore", "Store", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
            </div>

            <div class="list-group list-group-flush" aria-orientation="vertical">
                @Html.ActionLink("Trashbin", "Trashbin", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Settings", "Settings", "User", new { area = "" }, new { @class = "list-group-item list-group-item-action" })
            </div>
        </div>

        <!-- NAVBAR HEADER -->



        <div class="page-content-wrapper">
            <nav class="navbar fixed-top  navbar-dark bg-dark">

                <button class="navbar-toggler" id="menu-toggle" type="button" data-toggle="collapse" data-target="#sidebar-wrapper" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <span class="justify-content-center">
                    @Html.ActionLink("List It", "Lists", "User", new { area = "" }, new { @class = "navbar-brand" })
                </span>

                <span class="justify-content-end">
                    @Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "" })
                </span>

            </nav>

            

            
            <div class="body-content">
                @RenderBody()

            </div>

        </div>
    </div>



    




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>
