@{
    Layout = null;
    ViewBag.Title = "List It";
}

@using Resources
<!DOCTYPE html>

<html>
<head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

</head>
<body class="launch vh-100">
    <div class="">
        <div class="row align-items-center mh-100">
            <div class="col">
                <div class="logo-box d-flex justify-content-center align-items-center">
                    <a href="@Url.Action("Login", "User")">
                        <img src="~/Content/img/logo-black.png" alt="List It Logo" class="logo" />
                    </a>
                </div>

                <h1 class="text-center">@ViewBag.Title</h1>

            </div>
            <div class="col">

                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Content/img/slider_1_v2.jpg" class="d-block w-100" alt="List your items, define them and check them!">
                            <div class="carousel-caption d-none d-md-block">
                                <button type="button" class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("Login", "User")'">
                                    @Lang.list_it
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/slider_2.jpg" class="d-block w-100" alt="Discover nearby stores and their products!">
                            <div class="carousel-caption d-none d-md-block">
                                <button type="button" class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("Login", "User")'">
                                    @Lang.discover
                                </button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/slider_3.jpg" class="d-block w-100" alt="Share your lists with a household.">
                            <div class="carousel-caption d-none d-md-block">
                                <button type="button" class="btn btn-dark btn-lg" onclick="location.href='@Url.Action("Login", "User")'">
                                    @Lang.start_now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
       



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
